.card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 5px;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  position: relative;
  text-align: left;
  box-sizing: border-box;
}

.card__image {
  width: 155px;
  max-height: 155px;
  object-fit: cover;
  object-position: center;
  box-sizing: border-box;
  border-radius: 50%;
  margin-right: 35px;
}

.card__description {
  font-size: 18px;
  line-height: 20px;
}

.card__name {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px;
  padding: 0;
}

.card__button {
  background-color: #b0c4de;
  color: #fff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgb(0, 0, 0, 0.1);
  padding: 10px 10px;
  margin-left: auto;
}

@media screen and (max-width: 800px) {
  .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card__image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .card__button {
      margin: 10px auto 0;
      width: 100%;
  }
}
